*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    width: 22.5rem;
    height: 209rem;
    flex-shrink: 0;
}

#header{
    width: 20.5rem;
    height: 16.5rem;
    flex-shrink: 0;
    border-bottom: 0,0625rem solid #000;
    border-right: 0,0625rem solid #000;
    border-left: 0,0625rem solid #000;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

